name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "packages/sync-server/**"
      - "packages/sync-server/docker/**"
      - "terraform/.env"
      - ".github/workflows/build.yml"

jobs:
  build:
    if: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: curl -sfS https://dotenvx.sh/install.sh | sh

      - run: |
          dotenvx get --format eval -f terraform/.env | sed 's/^export //' | sed 's/"//g' | grep -v GCP_SA_KEY >> $GITHUB_ENV
          dotenvx get GCP_SA_KEY -f terraform/.env > service_account.json
        env:
          DOTENV_PRIVATE_KEY: ${{ secrets.DOTENV_PRIVATE_KEY }}

      - id: sa-key
        run: echo "json=$(cat service_account.json)" >> $GITHUB_OUTPUT

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: ${{ steps.sa-key.outputs.json }}

      - uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - run: gcloud auth configure-docker ${TF_VAR_region}-docker.pkg.dev

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22"
          cache: "yarn"
      - run: |
          corepack enable
          yarn set version stable

      - run: yarn install --frozen-lockfile

      - run: yarn workspace @actual-app/sync-server build

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./packages/sync-server/docker/alpine.Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ env.TF_VAR_region }}-docker.pkg.dev/${{ env.TF_VAR_project_id }}/actual-repo/actual-server:latest-alpine
